.well-known/
assets_old/
chemist/
email_files/
images/
img_v31/
img_v36/
img_v41/
img_v50/
stg.drdistributor.com/
temp_files/
temp_new_account/
upload_chemist_photo/
upload_invoice/
uploads/
uploads_sales/
vendor/