:root{

	--mainbuttondisable-color:#b2b0b0;
	--mainbuttondisablehover-color:#928d8d;
	/*
	
	
	--main_menu_btn:#444;
	--mainblack-color:#312e2ed4;
	--cart-id:#312e2ed4;


	--border1:#cadfd3;
	--green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--green);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);*/
}
/*html::-webkit-scrollbar{
    width:10px;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main_theme_scrollbar_color);
}*/
a:hover
{
	text-decoration: none;
}
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0; padding: 0; list-style-type: none;}
p {margin: 0;padding: 0;}
*{
    font-family: 'Noto Serif Ottoman Siyaq', serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /*text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;*/
}
body{
	margin:0;
	background-size:cover;
	padding:0;
	background-color:var(--main_theme_bg_color) !important;
	color:var(--main_theme_body_text_color) !important;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
	color:#757575;
}
table{
	color:var(--main_theme_text_black_color) !important;
}
.top-header-ul{
	width:100%;
}
.top-header-ul li{
	width:auto;
	float: left;
    margin-right: 20px;
	font-size: 14px;
    font-weight: 700;
	color: #757575;
}
.top-header-ul li i{
	margin-right: 5px;
}

.main_white_logo{
	width:40px;
}
.main_back_button{
	margin-top:7px;
	width: 25px;
    color: var(--top_icon_menu_color);
    font-size: 30px;
}

.top_flash_loading{
	width: 90%;
	height: 40vh;
	margin-left: 5%;
	border-radius: 10px;
}
.website_box_part{

    /*padding: 10px;*/
    background-color: var(--main_theme_white_background_color);
	border-radius: 10px;
    overflow-y: scroll;
	
	/*border: solid 1px var(--main_theme_color);*/
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}

/*.website_box_part::-webkit-scrollbar{
    width:5px;
}

.website_box_part::-webkit-scrollbar-track{
    background:transparent;
}

.website_box_part::-webkit-scrollbar-thumb{
    background:var(--main_theme_scrollbar_color);
}*/

.small_noti_box{
    max-width: 260px;
    height: 250px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    word-wrap: break-word;
}
.home_page_new_box_inv
{
	margin-top: 1%;    
    height: 220px;
}
.home_page_new_box_inv_title{
	color: var(--main_theme_hearder_color);
    font-size: 20px;
    font-weight: bold;
}
.home_page_new_box_inv_title a{
	color: var(--main_theme_hearder_color);
}
.search_page_main_div
{
	height: 450px;
    overflow-x: scroll;
    position: relative;
	width:100%;
}
.modal-content
{
	box-shadow: 0 0 5px 5px;
}
.modal-content,.modal-body
{
	background-color:var(--main_theme_modal_bg_color) !important;
	color:var(--main_theme_text_black_color) !important;
}
.maincontainercss
{
	padding-top:125px;
	min-height: 500px;
	padding-bottom: 0px;
}


.headertitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	color: var(--top_icon_menu_color);
	margin-top: 7px;
    font-size: 25px;
}

.headertitle1 {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	margin-top: -2px;
	display: none;
	color: var(--top_icon_menu_color);
}


.login_pg_icon{
	font-size: 25px;
	float: left; 
	margin-top: 10px;
	position: absolute;
	margin-left: 10px;
	color:var(--main_theme_search_icon_color) !important;
}
.login_pg_eye_icon{
	font-size: 25px;
	float: left; 
	margin-top: 0px;
	margin-left: 10px;
	color:var(--main_theme_search_icon_color) !important;
}
.login_new_box
{	
	padding: 10px;
    background-color: var(--main_theme_white_background_color);
    border-radius: 10px;
    overflow-y: scroll;
    /* border: solid 1px var(--main_theme_color); */
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}
.main_round_theme
{
	background-color: var(--main_theme_color);
	border-color: var(--main_theme_color);
	color:#ffffff;
	padding:15px;
	border-bottom-left-radius:500px;
    box-shadow: -3px 3px 5px 0px;
}
.main_theme_gray_text
{
	color: #6a6767;
}
.main_theme_gray_text:hover
{
	color: #6a6767;
}
.main_theme_a
{
	color: var(--mainbutton-color);
}
.main_theme_a:hover
{
	color: var(--mainbuttonhover-color);
}
.website_name_css
{
	font-size: 18px;
	color:#6a6767;
	font-weight: bold;
}
.website_version_css
{
	font-size: 15px;
	color:#6a6767;
}

.background_blur
{
	background: #3e2e2e94;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 13;
    top: 0px;
}
.mobile_show
{
	display:none;
}
.mainbutton
{
	background-color: var(--mainbutton-color);
	border-color: var(--mainbutton-color);
	color: white;
    border-radius: 10px;
	width:100%;
	padding: 7px;
}
.mainbutton:hover,.mainbutton:focus,.mainbutton:active
{
	background-color: var(--mainbuttonhover-color);
	border-color: var(--mainbuttonhover-color);
	color: white;
}

.mainbutton_disable
{
	background-color: var(--mainbuttondisable-color);
	border-color: var(--mainbuttondisable-color);
	color:white;
	border-radius: 10px;
	width:100%;
	padding: 7px;
}
.mainbutton_disable:hover,.mainbutton_disable:focus,.mainbutton_disable:active
{
	background-color: var(--mainbuttondisablehover-color);
	border-color: var(--mainbuttondisablehover-color);
	color:#000000;
}
/******login page*******/
.input_type_text
{
	background-color: var(--main_theme_textbox_background_color) !important;
	border: 1px solid var(--main_theme_border_color) !important;
	border-radius:10px;
	color: var(--main_theme_textbox_text_color) !important;
	width:100%;

	font-size: 18px;
    font-weight: bold;
	border-width: 0px;
	padding: 7px;
	padding-left:40px;
}
.input_type_text:-webkit-autofill,
.input_type_text:-webkit-autofill:hover, 
.input_type_text:-webkit-autofill:focus,
.input_type_text:-webkit-autofill:active {
	color: var(--main_theme_textbox_text_color) !important;
}
.input_type_text:hover, 
.input_type_text:focus,
.input_type_text:active {
	color: var(--main_theme_textbox_text_color) !important;
}

.input_type_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--main_theme_textbox_text_color) !important;
	opacity: 1; /* Firefox */
}
  
.input_type_text::-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--main_theme_textbox_text_color) !important;
}
  
.input_type_text::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--main_theme_textbox_text_color) !important;
}


.input_type_text2
{
	background-color: var(--main_theme_textbox2_bg_color);
	border-color: var(--main_theme_textbox2_border_color);
	border-radius:10px;
	color: var(--main_theme_textbox_color);
	width:100%;

	font-size: 18px;
    font-weight: bold;
	border-width: 0px;
	padding: 7px;
	border: 1px solid var(--main_theme_border_color);
}

.input_type_text2:-webkit-autofill,
.input_type_text2:-webkit-autofill:hover, 
.input_type_text2:-webkit-autofill:focus,
.input_type_text2:-webkit-autofill:active {
	background-color: var(--main_theme_textbox2_bg_color);
	border-color: var(--main_theme_textbox2_border_color);
	color: var(--main_theme_textbox_color);
	border-width: 0px;
}
.home_page_search_div_box
{
	width:100%;
	display:none;
}
.login_textbox
{
	
}
/*******menu*****/
.left_menu_bar
{
	border-right: 1px solid var(--main_theme_border_color) !important;
	display:none;
	position: fixed;
	background-image: linear-gradient(var(--main_theme_left_menu_bg_color), var(--main_theme_left_menu_bg_color1));
	width: 30%;
	z-index: 20;
	top: 0px;
	height: -webkit-fill-available;
}
.left_menu_bar_cancel{
	font-size: 30px;
}
.left_menu_bar_account_image,.account_page_header_image
{
	width: 100%;
}
.left_menu_bar_accoun_chemist_name,.account_page_chemist_name
{
	word-wrap: break-word;
	font-size: 18px;
	font-weight: bold;
}
.left_menu_bar_accoun_chemist_code,.account_page_chemist_code
{
	font-size: 16px;
}
.left_menu_bar_part1
{
    padding: 10px;
}

.left_menu_bar_part2{
	margin: 0px 0;
    overflow-y: scroll;
    /* height: inherit; */
    color:var(--main_theme_hearder_color);
    height: 485px;
}
/*.left_menu_bar_part2::-webkit-scrollbar{
    width:5px;
}

.left_menu_bar_part2::-webkit-scrollbar-track{
    background:transparent;
}

.left_menu_bar_part2::-webkit-scrollbar-thumb{
    background:var(--main_theme_scrollbar_color);
}*/

.left_menu_bar_part2 img{
	margin-left:10px;
	margin-right:10px;
}

.left_menu_bar_part2 i{
	margin-left:10px;
	margin-right:10px;
}


.left_menu_bar_part2 h3 {
    color: #fff;
    font-size: 1.8em;
    margin: 20px 0 10px;
	font-weight:600;
}
.left_menu_bar_part2 a {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
}
.social-icon ul li {
    list-style: none;
	text-align: left; 
	font-size: 1em;
	padding:10px;
}
.social-icon ul li:hover {
	background: var(--top_icon_menu_li_bg);
}
.social-icon ul li a{
	color: var(--top_icon_menu_color);
}
/*.top_menu_bar {
	margin-left: 1%;
    width: 98%;
    margin-top: 7px;
    padding: 10px;
    height: 125px;
    /* background: var(--main_theme_top_menu_bar_bg) !important; */
    /*position: fixed;
    z-index: 14;
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
    background-image: linear-gradient(#f6f6f6, #ffffff);
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}*/
.top_menu_bar {
    margin-top: 5px;
    margin-left: 0.5%;
    width: 99%;
    padding-top: 5px;
	padding-bottom: 5px;
    position: fixed;
    z-index: 14;
    background-image: linear-gradient(var(--main_theme_top_menu_bar_bg), var(--main_theme_top_menu_bar_bg1));
    /*border: solid 1px var(--main_theme_color);*/
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 125px;
    border-top-left-radius: 125px;
	transition-duration: 3s;
}
/*.top_menu_bar:hover{
	border-bottom-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
}*/
.top-menu123
{
	margin-top: -5px;
}
.top-menu123 .top-menu123-slider .box{
    margin:1rem 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}

.top-menu123 .top-menu123-slider .box a{
	font-size: 15px;
	color:#474747;
}

.top-menu123_div .content
{
	height: 20px;
    overflow: hidden;
}


#website_menu
{
	background:#856419 !important;
	border: 0px solid rgb(255, 255, 255) !important;
}

  /* Track */
/*.website_top_menu::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #b19860;
	border-radius: 10px;
}
.website_top_menu::-webkit-scrollbar-thumb {
background: #b19860;
border-radius: 10px;
}
*/
.top_menu_menu_main::-webkit-scrollbar{
    width:5px;
	height: 5px; 
}

.top_menu_menu_main::-webkit-scrollbar-track{
    background:transparent;
}

.top_menu_menu_main::-webkit-scrollbar-thumb{
    background:var(--main_theme_scrollbar_color);
}

.top_menu_menu_main{
	margin-top: 5px;
    padding-top: 5px;
    /*border-top: 1px solid var(--main_theme_border_color);*/
    overflow-x: none;
}
.top_menu_menu{
	width: max-content;
    margin: auto;
}
.top_menu_menu li {
    float: left;
    margin-right: 7px;
    padding: 5px;
	border-radius:5px;
    background: var(--top_icon_menu_li_bg);
}
.top_menu_menu li:hover {
    background: var(--top_icon_menu_li_bg_hover);
}
.top_menu_menu li a {
    font-size: 15px;
    color: var(--top_icon_menu_color);
}
.top_icon_menu {
	text-align: right;
    float: right;
}
.top_icon_menu li {
    /* width: 25px; */
    float: left;
    margin-right: 7px;
    /*background: var(--top_icon_menu_li_bg);*/
    padding: 10px;
	border-radius:5px;
}
.top_icon_menu li:hover {
    background: var(--top_icon_menu_li_bg_hover);
}
.top_icon_menu li a{
	font-size: 15px;
    top: -10px;
    color: var(--top_icon_menu_color);
    display: flex;
    margin-top: 0px;
}
.top_icon_menu li a i{
    font-size: 30px;
	color: var(--top_icon_menu_color);
	margin-top: -4px;
    margin-right: 5px;
}
.delete_btn_icon
{
	display: none;
}
.top_menu_cart_div
{
	color:#000000;
}
/******home page******************************************/
#jssor_1,#jssor_2
{
	position:relative;
	margin:0 auto;
	left:-15px;
	width:1000px;
	height:220px;
	overflow:hidden;
	visibility:hidden;
}
.top_flash_div
{
	cursor:default;
	position:relative;
	top:0px;
	left:0px; 
	width:1000px;
	height:220px;
	overflow:hidden;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
.img_css_forslider
{
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	width: 98% !important;
}
/* Make the image fully responsive */
.carousel-inner img {
	height: 70vh !important;
	width: 100%;
	object-fit: cover;
	object-fit:unset;
}
.menu_ki_main_div1
{
	width:25%;
	float:left;
}
.menu_ki_main_div2
{
	width:75%;
	float:left;
}
.home_page_search_div
{
	background-color: var(--main_theme_textbox_background_color) !important;
    height: 40px;
    width: 100%;
    float: left;
    border-radius: 10px;
    padding: 8px;
    padding-left: 38px;
    font-size: 18px;
    font-weight: bold;
	color: var(--main_theme_textbox_text_color) !important;
	/*box-shadow: 0px 0px 5px 0px;*/
	border: 1px solid var(--main_theme_border_color) !important;
}
.search_textbox
{
	/*box-shadow: 0px 0px 5px 0px;*/
}
.home_page_search_div:hover
{
	color:#6A6767;
}
.left_menu_icon{
	font-size: 22px;
    margin-top: 0px;
}
.cart_new_btn_color_css{
	margin-top: 7px;
    margin-bottom: 2px;
	font-size:18px;
	color:var(--main_theme_search_icon_color) !important;
}
.modal_cancel_btn{
	color:var(--main_theme_search_icon_color) !important;
}
.search_icon1
{
	position: absolute;
    margin-top: -3px;
    margin-left: -30px;
    color: var(--main_theme_search_icon_color) !important;
    font-size: 25px;
}
.textbox_search_icon
{
	position: absolute;
    margin-top: 7px;
    margin-left: 7px;
	color:var(--main_theme_search_icon_color) !important;
	font-size:25px;
}
.menu_search_icon
{
	display:none;
	position: absolute;
    right: 50px;
    top: 10px;
    color: var(--main_theme_search_icon_color) !important;
    font-size: 23px;
}
.menu_search_icon_box{
	background-color: var(--main_theme_white_background_color);
    position: absolute;
    top: 105px;
    z-index: 99;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
    border-radius: 10px;
    margin-right: 30px;
    right: 0px;
    display: flex;
	/*display:none;*/
}
.medicine_total_rec{
	border-radius: 10px;
    border: 1px solid var(--main_theme_border_color);
    margin-top: -14px;
    height: 26px;
}
.menu_search_icon_checkbox{
	margin-top: 4px;
}
.clear_search_icon
{
	position: absolute;
    right: 20px;
    top: 7px;
    color: var(--main_theme_search_icon_color) !important;
    font-size: 25px;
}

.home_menu_main_div
{
	/*border: 1px solid var(--main_theme_border_color);
	background-color: var(--main_theme_li2_bg_color);
	border-radius: 10px;
    box-shadow:0px 0px 5px 0px var(--main_theme_box_shadow);*/
	
	padding:10px;
    float: left;
	width: 13.5%;
    margin-right: 0.7%;
	border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}
.home_menu_main_div:hover
{
	/*border: 1px solid var(--main_theme_border_hover_color);*/
	box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}
.home_menu_main_btn
{
	font-size: 20px;
    color: var(--main_theme_home_pg_menu_color);
	font-weight: bold;
}
.home_menu_main_btn:hover
{	
    color: var(--main_theme_home_pg_menu_color_hover);
	font-weight: bold;
}

.featured_home .featured_home-slider .box{
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
	/*border: 1px solid var(--main_theme_border_color);
	box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);*/
    margin: 10px;
	width:10%;
}

.featured_home .featured_home-slider .box:hover{
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}

.featured_home .featured_home-slider .box .image{
    /*padding:1rem;*/
	width:100%;
}

.featured_home .featured_home-slider .box .image1{
    /*padding:1rem;*/
    background: #fff;
	width:100%;
}

.featured_home .featured_home-slider .box .image1 img{
	width:100%;
}

.featured_home-next,
.featured_home-prev{
    border:var(--border-hover);
    height:3rem !important;
    width:3rem !important;
    color:var(--black) !important;
    background: #fff;
	font-size: 1rem !important;
}

.featured_home-next::after,
.featured_home-prev::after{
    font-size: 2rem;
}

.featured_home-next:hover,
.featured_home-prev:hover{
    background: var(--green);
    color:#fff;
}



section{
    /*padding:.5rem 1%;*/
}
.featured_home_title
{
	margin-top: 100px;
	margin-bottom: 100px;
}
.heading_home{
    text-align: center;
    margin-bottom: 0rem;
    position: relative;
}

.heading_home::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: var(--heading_home_hr_line);
	box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
    z-index: -1;
}

.heading_home span{
	font-size: 30px;
    padding: 40px;
    color: var(--main_theme_hearder_color) !important;
    background-image: linear-gradient(var(--main_theme_top_menu_bar_bg), var(--main_theme_top_menu_bar_bg1));
    /*border: solid 1px var(--main_theme_color);*/
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
	border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
	transition-duration: 3s;
}
.heading_home span:hover{
	border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
}
.heading_home span a{
	color: var(--main_theme_hearder_color) !important;
}

.featured_home_title1
{
	margin-top: 100px;
	margin-bottom: 100px;
}
.heading_home1{
    text-align: center;
    margin-bottom: 0rem;
    position: relative;
}
.heading_home1::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: var(--heading_home_hr_line);
	box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
    z-index: -1;
}
.heading_home1 span{
    font-size: 30px;
    padding: 40px;
    color: var(--main_theme_hearder_color) !important;
    background-image: linear-gradient(var(--main_theme_top_menu_bar_bg), var(--main_theme_top_menu_bar_bg1));
    /*border: solid 1px var(--main_theme_color);*/
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
	border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
	transition-duration: 3s;
}
.heading_home1 span:hover{
	border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
}
.heading_home1 span a{
	color: var(--main_theme_hearder_color) !important;
}

.divisioncategory_css li {
    width: 16%;
    float: left;
    padding: 15px;
    text-align: center;
}
.divisioncategory_css li img{
    width: 100%;
	border-radius:5px;
}

.itemcategory_css li {
    width: 16%;
    float: left;
    padding: 5px;
    text-align: center;
	height:270px;
}
.itemcategory_css li img{
    width: 100%;
}

.mcs-items-container2 {
    text-align: center;
    overflow: visible;
    width: 100%;
    font-size: 14px;
	padding:5px;
}

.mcs-items-container1 {
    text-align: center;
    overflow: visible;
    width: 100%;
    height: 100;
    font-size: 14px;
	background-color: var(--main_theme_li2_bg_color);
	padding:5px;
}

.mcs-items-container {
    text-align: center;
    overflow: visible;
    /*width: 100%;
    min-height: 420px;*/
    font-size: 14px;
    /*background-color: var(--main_theme_li2_bg_color);*/
	padding:5px;
}
.mcs-items-container:hover {
    /*border:var(--main_theme_li2_bg_hover_color);*/
	/*box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);*/
}

.swiper-button-next,
.swiper-button-prev{
    
    height:4rem;
    width:4rem;
    background:var(--main_theme_left_right_btn_bg);
	
	width: 40px !important;
    height: 40px !important;
    border-radius: 50px;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
	color:var(--main_theme_left_right_btn);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    color:#fff;
}

.top-menu123-next, .top-menu123-prev
{
	background: none !important;
	border: 0px;
}

.top-menu123-next:after, .top-menu123-prev:after 
{
	font-size: 20px !important;
	color: #474747;
}
.top-menu123-next
{	
	margin-top: -26px;
	margin-right: -20px;
}
.top-menu123-prev
{	
	margin-top: -26px;
	margin-left: -20px;
}
/********************************/
/***************/
.cart_delete_btn
{
	color:red;
	font-size:15px;
	font-weight:bold;
}
.cart_delete_btn:hover
{
	color:rgb(206, 17, 17);
}
.div_cart_total_items
{
	color:var(--item_packing_color);
	font-size:15px;
	font-weight:bold;
}
.div_cart_total_price
{
	color:var(--item_price_color);
	font-size:15px;
	font-weight:bold;
}

/***********************footer********************/
.website_footer1
{
	background-color: #dedede;
	margin-top:50px;
	padding-top:25px;
	padding-bottom:100px;
	margin-bottom:-100px;
}
.website_footer
{
	background-color:var(--main_theme_footer_bg);
	margin-top:50px;
	padding-top:25px;
	padding-bottom:100px;
	margin-bottom:-100px;
}
.bottom-footer-ul{
	width:100%;
}
.bottom-footer-ul li{
	width:100%;
	float: left;
    margin-right: 20px;
	font-size: 14px;
    font-weight: 700;
	color: #757575;
}
.bottom-footer-ul li i{
	margin-right: 5px;
}
.footer_li_title
{
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    color: #444546;
    padding-bottom: 20px;
}
.footer_li_text
{
	color: #ffffff;
	margin-top: 5px;
}
.footer_li_text a
{
	color: #757575;
}
.follow-footer-ul li
{
	float:left;
	margin-right:5px;
}
.footer_copy
{
    line-height: 2;
    text-align: left;
    color: #757575;
}
.fix_footer
{
	z-index: 1;
	position: fixed;
    bottom: 0px;
    width: 100%;
}
.div_width_25par
{
	width: 25%;
    float: left;
    font-size: 100% !important;
    padding: 5px;
}
.div_width_20par
{
	width: 20%;
    float: left;
    font-size: 100% !important;
    padding: 5px;
}
.footer p{
	color:#fff;
	font-size:14px;
	line-height:1.8em;
	text-align:center;
	margin-top:50px;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	text-decoration:underline;
}

.google_play
{
	background-color: #27ae60;
    opacity: 1;
    color: #fff;
	border-radius:10px;
	padding:10px;
}
.google_play a
{
	color: #fff;
	text-decoration:none;
}
.download_app_div
{
	color:var(--green);
	font-size:25px;
}
/*************other page****************/
.view_cart_or_empty_cart_btn_div,.place_order_or_empty_cart_btn_div
{
    bottom: 10px;
    position: fixed;
    width: 99%;
    margin-left: 0.5%;
    padding: 5px;
    /* border-top: solid 1px var(--main_theme_color); */
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
    background-image: linear-gradient(var(--main_theme_footer_bg), var(--main_theme_footer_bg1));
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 125px;
    border-top-left-radius: 125px;
}
.search_pg_title_color
{
	color: var(--main_theme_hearder_color);
    font-size: 20px;
    font-weight: bold;
}
.search_pg_title_color:hover
{
	color: var(--main_theme_hearder_color_hover);
}
.header_result_found{
	color: var(--main_theme_hearder_color);
    font-size: 13px;
    font-weight: bold;
}
.search_medicine_result,.select_chemist_result
{
	background-color: var(--main_theme_white_background_color);
	margin-top: -8px;
    z-index: 15;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 96%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
	position: absolute;
	display: none;
	border-left: 1px solid var(--main_theme_border_color);
    border-right: 1px solid var(--main_theme_border_color);
    border-bottom: 1px solid var(--main_theme_border_color);
}
/*.search_medicine_result::-webkit-scrollbar,.select_chemist_result::-webkit-scrollbar{
    width:5px;
}
.search_medicine_result::-webkit-scrollbar-track,.select_chemist_result::-webkit-scrollbar-track{
    background:transparent;
}
.search_medicine_result::-webkit-scrollbar-thumb,.select_chemist_result::-webkit-scrollbar-thumb{
    background:var(--main_theme_scrollbar_color);
}*/

.featured_brand_home_div1
{
	border-radius: 10px;
	padding:5px;
	margin: 5px;
	background-color: var(--main_theme_li2_bg_color);
	border: 1px solid var(--main_theme_border_color);
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}

.featured_brand_home_div
{
	height: 450px;
	border-radius: 10px;
	padding:5px;
	margin: 5px;
	background-color: var(--main_theme_li2_bg_color);
	border: 1px solid var(--main_theme_border_color);
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}

.featured_brand_div
{
	border-radius: 10px;
	padding:5px;
	margin: 5px;
	height:420px;

	background-color: var(--main_theme_li2_bg_color);
	border: 1px solid var(--main_theme_border_color);
    box-shadow: 0px 0px 5px 0px var(--main_theme_box_shadow);
}

.owl-carousel {
	margin: 0 auto;
	padding: 30px 0;
}
.owl-carousel .item {
	line-height: 2;
	font-weight: 700;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #ccc;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

.owl-nav button span {
	font-size: 30px;
	height: 100%;
	display: block;
	width: 100%;
}
.owl-carousel .owl-nav button.owl-prev {
	left: 0;
}
.owl-carousel .owl-nav button.owl-next {
	right: 0;
}
.owl-carousel .owl-nav {
	margin: 0;
}
@media screen and (max-width:1024px) {
	
	.divisioncategory_css li
	{
		width: 25%;	
	}
	.itemcategory_css li
	{
		width: 25%;	
	}
	.top_menu_menu_main:hover{
		border-top: 1px solid #757575;
		overflow-x: scroll;
	}
}
@media screen and (max-width:800px) {
	.maincontainercss {
		padding-top:128px;
		min-height: 500px;
		padding-bottom: 100px;
	}
	.main_white_logo{
		width:35px;
	}
	.main_back_button{
		font-size:25px !important;
	}
	.main_icon1{
		font-size: 25px !important;
	}
	.top_flash_loading{
		width: 90%;
		height: 25vh;
		margin-left: 5%;
	}
	.headertitle{
		font-size: 20px !important;
		margin-top: 5px !important;
	}
	.headertitle1{
		font-size: 12px !important;
		margin-top: 2px !important;
	}
	.medicine_cart_item_name
	{
		font-size:13px !important;
	}
	.medicine_cart_item_packing{
		font-size:9px !important;
	}
	.medicine_cart_item_margin {
		font-size: 11px !important;
	}
	.medicine_cart_item_company {
		font-size: 13px !important;
	}
	.medicine_cart_item_mrp {
		font-size: 11px !important;
	}
	.medicine_cart_item_ptr {
		font-size: 11px !important;
	}
	.medicine_cart_item_price {
		font-size: 11px !important;
	}
	.medicine_details_item_company
	{
		font-size: 13px !important;
	}	
	.top_menu_bar {
		/* padding: 5px !important; */
		border-radius: 0px;
		margin: 0px;
		width: 100%;
	}
	.main_round_theme
	{
		padding:40px;
		border-bottom-left-radius:70px;
	}
	.mobile_off
	{
		display:none;
	}
    .mobile_show
	{
		display:block;
	}
	.left_menu_bar
	{
		display:none;
		position: fixed;
		width: 70%;
		z-index: 20;
		top: 0px;
	}
	.left_menu_bar_account_image, .account_page_header_image
	{
		height:10vh;
	}
	.left_menu_bar_accoun_chemist_name,.account_page_chemist_name
	{
		font-size: 14px;
	}
	.left_menu_bar_accoun_chemist_code,.account_page_chemist_code
	{
		font-size: 13px;
	}
	.left_menu_bar_part2 a
	{
		font-size: 13px;
	}
	.menu_ki_main_div1
	{
		width:75%;
	}
	.menu_ki_main_div2
	{
		width:25%;
	}
	.home_menu_main_div
	{
		width: 32%;
		margin-right: 1.3%;
		margin-bottom: 2%;
	}
	.home_page_search_div
	{
		/*position: fixed;*/
		top: 42px;
		z-index: 11;
		width: 100%;
		left: 16px;
		font-size: 16px;
		height:40px;
		padding: 8px;
    	padding-left: 38px;
	}
	
	.home_page_search_div_box
	{
		width: 100%;
		margin-top: -15px;
	}

	.clear_search_icon {
		position: absolute;
		right: 30px;
		top: 0px;
	}
	
	.menu_search_icon
	{
		position: absolute;
		right: 65px;
		top: 3px;
	}
	
	.menu_search_icon_box {
		width: 90%;
		margin-left: 5%;
		display:none;
	}
	
	.home_page_search_div_textbox
	{	
		width: 100%;
		top: 50px;
		left: 18px;
	}
	.top-menu123
	{
		margin-top: 30px;
    	width: 80%;
    	margin-left: 18%;
	}
	.top-menu123-next
	{	
		margin-top: 2px !important;
		margin-right: -12px;
	}
	.top-menu123-prev
	{	
		margin-top: 2px !important;
		margin-left: 24px;
	}
	.top-menu123 .top-menu123-slider .box a {
		font-size: 14px;
	}
	.search_pg_title_color
	{
		font-size: 14px;
	}
	#jssor_1
	{
		position:relative;
		margin:0 auto;
		left:-15px;
		width:980px;
		height:350px;
		overflow:hidden;
		visibility:hidden;
	}
	.carousel-inner img {
		height: 22vh !important;
	}
	.img_css_forslider
	{
    	height: 50vh !important;
	}
	.top_flash_div
	{
		height: 55vh !important;
	}

	.featured_home_title,.featured_home_title1
	{
		margin-top: 50px;
    	margin-bottom: 50px;
	}
	.heading_home span
	{
		font-size: 20px;
		padding: 25px;
	}
	.heading_home1 span
	{
		font-size: 20px;
		padding: 25px;
	}
	.home_page_item_company_name{
		font-size:13px;
	}
	/*.heading_home::before{
		background: none;
	}*/
	section {
		/*padding: 0rem 1%;*/
	}

	.cart_ki_main_div1
	{
		width:30%;
		float:left;
		padding:5px;
	}
	.cart_ki_main_div1_1
	{
		width:32%;
	}
	.cart_ki_main_div1_2
	{
		width:35%;
	}
	.cart_ki_main_div2
	{
		width:70%;
		float:left;	
		padding:5px;
	}
	.cart_ki_main_div2_1
	{
		width:68%;
	}
	.cart_ki_main_div2_2
	{
		width:65%;
	}
	.cart_ki_main_div5
	{
		width:100%;
	}
	.cart_ki_main_div6_1
	{
		width:15%;	
	}
	.cart_ki_main_div6_2
	{
		width:85%;
	}
	.cart_ki_main_div7_1
	{
		width:30%;	
	}
	.cart_ki_main_div7_2
	{
		width:70%;
	}
	.home_menu_main_btn
	{
		font-size: 14px;
	}
	.home_page_new_box_inv_title{
		font-size: 14px;
	}
	.home_cart_company
	{
		font-size: 14px;
	}

	.cart_order_qty
	{
		font-size:15px;
	}
	.cart_image_search1
	{
		height: 16vh;
	}
	.cart_title,.cart_stock,.cart_scheme,.cart_scheme_line,.cart_order_qty1
	{
		font-size:13px;
	}
	.cart_ptr,.cart_mrp,.cart_landing_price,.cart_expiry,.cart_company,.cart_packing,.cart_description1,.cart_description2,.cart_date_time
	{
		font-size:12px;
	}
	.search_medicine_result,.select_chemist_result
	{
		position: absolute;
		z-index: 14;
		margin-left: -11px;
		margin-top: 32px;
		width: 98%;
		padding-bottom: 38px;
		max-height: 475px;
		border-radius: 10px;
		padding-top:10px;
	}
	.search_page_main_div
	{
		width: 105% !important;
		margin-left: -12px;
		padding: 2px;
		border: none !important;
		border-radius:0px;
		height: max-content;
	}
	.mobile_footer a{
		color: var(--main_theme_footer_color)  !important;
	}
	.mobile_footer_css_ok {
		background: var(--main_theme_footer_bg)  !important;
		color: var(--main_theme_footer_color)  !important;
	}
	.mobile_footer_css_ok_left {
		background: var(--main_theme_footer_bg)  !important;
		border-top-right-radius: 50px;
		color: var(--main_theme_footer_color)  !important;
	}
	.mobile_footer_css_ok_center {
		background: var(--main_theme_footer_bg) !important;
		border-radius: 50px;
		margin-left: 2%;
		margin-right: 2%;
		width: 17% !important;
		color: var(--main_theme_footer_color)  !important;
	}
	.mobile_footer_css_ok_right {
		background: var(--main_theme_footer_bg) !important;
		border-top-left-radius: 50px;
		color: var(--main_theme_footer_color)  !important;
	}
	.medicine_cart_item_featured_img
	{
		width:50px !important;
	}
	.medicine_cart_item_out_of_stock_img
	{
		width:50px !important;
	}
	/*.mcs-items-container
	{
		height:320px;
	}*/
	.featured_brand_div
	{
		height:366px;
	}
	.divisioncategory_css li {
		width: 33%;
	}
	.itemcategory_css li {
		width: 33%;
	}
}


/*************new work********************/

.main_theme_li_bg
{
	font-size: 12px;
	color:var(--mainblack-color);
	float: left;
	width:100%;
	margin-top:5px;
	/*background-color:var(--main_theme_li_bg_color);*/
	border-radius: 5px;
	border: 1px solid var(--main_theme_border_color);
}
.main_theme_li_bg:focus
{
	cursor: none;
	outline: none;
	border:0px;
	background:var(--main_theme_li_bg_hover_color);
}
.main_theme_li_bg:hover
{
	cursor: pointer;
	background:var(--main_theme_li_bg_hover_color);
}

/******************medicine search*********************/
.medicine_search_full_width
{
	width:100%;
	float:left;
	padding-left:5px;
}
.medicine_search_div1
{
	width:16%;
	float:left;
	padding:5px;
}
.medicine_search_div2
{
	width:84%;
	float:left;	
	padding:5px;
}

/***************************medicine details*****************/
.medicine_details_data
{
	background:white;
	border-radius:10px;
}
.medicine_details_item_date_time
{
	color:var(--item_date_time_color);
	font-size: 14px;
    margin-top: -38px;
}
.medicine_details_hr{
	
	border-top: 1px solid var(--heading_home_hr_line);
	padding-top: 10px;
	margin-top: 10px;
}
.medicine_details_image
{
	/*background-image: url(http://drdweb.co.in/uploads/default_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;
	border-radius: 10px;
	border: 1px solid var(--mainbutton-color);
}
.medicine_details_image_small
{
    width: 20%;
    height: 15%;
	border-radius: 10px;
	border: 1px solid var(--mainbutton-color);
}
.medicine_details_featured_img
{
	border-top-left-radius: 10px;
	width:100px;
}
.medicine_details_out_of_stock_img
{
	border-top-left-radius: 10px;
	width:100px;
}
.medicine_details_item_name
{
	color:var(--item_name_color);
	font-size:20px;
	font-weight:bold;
}
.medicine_details_item_packing
{
	color:var(--item_packing_color);
	font-size:16px;
}
.medicine_details_item_batch_no
{
	font-size: 16px;
    color:var(--item_batch_no_color);
}
.medicine_details_item_margin
{
	font-size: 16px;
    color:var(--item_margin_color);
}
.medicine_details_item_expiry
{
	font-size: 16px;
    color:var(--item_expiry_color);
}

.medicine_details_item_company
{
	color:var(--item_company_color);
    font-size: 18px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.medicine_details_item_company:hover
{
	color:var(--home_company_color_hover);
}

.medicine_details_item_stock
{
	color:var(--item_stock_color);
	font-size:18px;
	font-weight: bold;
}
.medicine_details_item_scheme
{
	margin-top: 3px;
	font-size: 16px;
    color:var(--item_scheme_color);
    font-weight: bold;
}
.medicine_details_item_scheme_line
{
	font-size: 15px;
    color:var(--item_scheme_line_color);
}

.medicine_details_item_ptr
{
	color:var(--item_ptr_color);
    font-size: 16px;
}
.medicine_details_item_mrp
{
	color:var(--item_mrp_color);
    font-size: 16px;
}
.medicine_details_item_price
{
	color:var(--item_price_color);
    font-size: 16px;
    font-weight: bold;
}
.medicine_details_item_gst
{
	color:var(--item_gst_color);
    font-size: 16px;
}
.medicine_details_item_order_quantity
{
	color:var(--item_order_quantity);
    font-size: 20px;
	font-weight: bold;
}
.medicine_details_item_order_quantity_textbox
{
	background:var(--item_order_quantity_bg);
    border: 0px;
    border-radius: 10px;
    padding: 5px;
	border: 1px solid var(--main_theme_color);
}
.medicine_details_item_order_quantity:focus
{
	outline: none !important;
	outline-style:none !important;
	box-shadow:none !important;
	border-color:transparent !important;
}
.medicine_details_item_description1
{
	color:var(--item_description1_color);
    font-size: 16px;
}

/***************************************************************/
.medicine_chemist_div1
{
	width:8%;
	float:left;
	padding:5px;
}
.medicine_chemist_div2
{
	width:92%;
	float:left;	
	padding:5px;
}

.search_chemist_div1
{
	width:10%;
	float:left;
	padding:5px;
}
.search_chemist_div2
{
	width:90%;
	float:left;	
	padding:5px;
}

.chemist_user_name
{
	color:var(--chemist_user_name_color);
	font-size:16px;
	font-weight:bold;
}

.chemist_altercode
{
	color:var(--chemist_altercode_color);
	font-size:14px;
	font-weight:bold;
}

/***************************************************************/
.medicine_my_page_div1
{
	width:7%;
	float:left;
	padding:5px;
}
.medicine_my_page_div2
{
	width:90%;
	float:left;	
	padding:5px;
}

/***************************************************************/
.medicine_cart_div1
{
	width:15%;
	float:left;
	padding:5px;
}
.medicine_cart_div2
{
	width:85%;
	float:left;	
	padding:5px;
}
/***************************home page*****************/
.home_page_item_name
{
	color:var(--item_name_color);
	
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	
	font-size: 16px;
    line-height: 24px;
}
.home_page_item_packing
{
	color:var(--item_packing_color);
	font-size:12px;
}
.home_page_item_margin
{
	color:var(--item_margin_color);
	font-size:12px;
}
.home_page_item_company
{
	color:var(--item_company_color);
    font-size: 13px;
    font-weight: 500;
}
.home_page_item_price
{
	color:var(--item_price_color);
    font-size: 13px;
	font-weight: bold;
}
.home_page_item_company_name
{
	color:var(--home_company_color);
    font-size: 18px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.home_page_item_company_name:hover
{
	color:var(--home_company_color_hover);
}
/***************************medicine cart small*****************/
.medicine_cart_small_div1
{
	width:30%;
	float:left;
	padding:5px;
}
.medicine_cart_small_div2
{
	width:70%;
	float:left;	
	padding:5px;
}

.medicine_cart_small_div3
{
	width:10%;
	float:left;
	padding:5px;
}
.medicine_cart_small_div4
{
	width:90%;
	float:left;	
	padding:5px;
}

.medicine_cart_small_div5
{
	width:15%;
	float:left;
	padding:5px;
}
.medicine_cart_small_div6
{
	width:85%;
	float:left;	
	padding:5px;
}
.medicine_category_img
{
	width: 100%;
    min-height:250px;
    border-radius: 10px;
}
.medicine_cart_item_image
{
    width: 100%;
    /*height: 20vh;*/
    border-radius: 10px;
}
.medicine_cart_item_name
{
	color:var(--item_name_color);
	font-size:16px;
	font-weight:bold;
}
.medicine_cart_item_packing
{
	color:var(--item_packing_color);
	font-size:12px;
}
.medicine_cart_item_margin
{
	color:var(--item_margin_color);
	font-size:14px;
}
.medicine_cart_item_expiry
{
	font-size: 14px;
    color:var(--item_expiry_color);
}

.medicine_cart_item_company
{
	color:var(--item_company_color);
    font-size: 15px;
    font-weight: 500;
}

.medicine_cart_item_batch_no
{
	color:var(--item_batch_no_color);
    font-size: 14px;
}

.medicine_cart_item_order_quantity
{
	color:var(--item_stock_color);
	font-size:15px;
	font-weight: bold;
}
.medicine_cart_item_stock
{
	color:var(--item_stock_color);
	font-size:15px;
	font-weight: bold;
}
.medicine_cart_item_out_of_stock{
	color:var(--out_of_stock-color);
	font-size:16px;
	font-weight: bold;
}
.medicine_cart_item_out_of_stock_img
{
	width:65px;
	position: absolute;
	border-top-left-radius: 10px;
}
.medicine_cart_item_featured_img
{
	width:65px;
	position: absolute;
	border-top-left-radius: 10px;
}
.medicine_cart_item_scheme
{
	font-size: 14px;
	color:var(--item_scheme_color);
	font-weight: bold;
}
.medicine_cart_item_mrp
{
	font-size: 14px;
	color:var(--item_mrp_color);
}
.medicine_cart_item_ptr
{
	font-size: 14px;
	color:var(--item_ptr_color);
}
.medicine_cart_item_price
{
	color:var(--item_price_color);
    font-size: 13px;
	font-weight: bold;
}
.medicine_cart_item_price2
{
	color:var(--item_ptr_color);
    font-size: 14px;
}
.medicine_cart_item_datetime
{
	color:var(--item_date_time_color);
    font-size: 14px;
}
.medicine_cart_item_date_time
{
	color:var(--item_date_time_color);
    font-size: 14px;
}

.medicine_cart_item_description1
{
	color:var(--item_description1_color);
    font-size: 14px;
}
.medicine_cart_item_description2
{
	color:var(--item_description2_color);
    font-size: 14px;
}
.medicine_cart_item_similar_items
{
	color:var(--item_similar_items_color);
    font-size: 15px;
}
.medicine_cart_item_similar_items a
{
	color:var(--item_similar_items_color);
    font-size: 15px;
}


@media screen and (max-width: 767px) {
	.top_icon_menu li {
		margin-right: -10px;
	}
	.medicine_search_div1
	{
		width:30%;
		float:left;
		padding:5px;
	}
	.medicine_search_div2
	{
		width:70%;
		float:left;	
		padding:5px;
	}
	.medicine_cart_div1,.medicine_cart_small_div1
	{
		width:30%;
		float:left;
		padding:5px;
	}
	.medicine_cart_div2,.medicine_cart_small_div2
	{
		width:70%;
		float:left;	
		padding:5px;
	}

	.medicine_my_page_div1
	{
		width:30%;
		float:left;
		padding:5px;
	}
	.medicine_my_page_div2
	{
		width:70%;
		float:left;	
		padding:5px;
	}
	.medicine_category_img
	{
		min-height:160px;
	}
}