:root{

    --mainthemecolor:#04293A;
    
    --main_theme_footer_color:#04293A;
    


    
    --main_theme_hearder_color:#ced4da;
    --main_theme_hearder_color_hover:#ced4da;
    
    --main_theme_footer_bg:#383d41;
    --main_theme_footer_bg1:#383d41;
    --main_theme_footer_color:#ced4da;
    
    --main_theme_home_pg_menu_color:#ced4da;
    --main_theme_home_pg_menu_color_hover:#ced4da;



    

    --main_theme_modal_bg_color:#000000; /* 474040 */




    

    --main_theme_li_color:#474040;
    --main_theme_li_bg_color:#064663;


    --main_theme_li2_color:rgb(240, 240, 240);
    --main_theme_li2_bg_color:#27ae6000;
    --main_theme_li2_bg_hover_color:#27ae6029;

    --main_theme_textbox_bg_color:#474040;
    --main_theme_textbox_color:#ebebeb;

 

    --main_theme_text_white_color:#000000;
    


    

    /************/
    --home_company_color:#ffffff;
    
    --main_theme_left_right_btn:#000000;
    --main_theme_left_right_btn_bg:#ffffff;
    

    --item_date_time_color:#ffffff;
    --item_name_color:#ffffff; /*27ae60 */
    --item_packing_color:#ffc107;
    --item_batch_no_color:#20c997;
    --item_margin_color:#fd7e14;
    --item_company_color:#dc3545;
    --item_company2_color:#6c757d;
    --item_expiry_color:#e83e8c;
    --item_stock_color:#1084a1;
    --item_scheme_color:#c66464;
    --item_scheme_line_color:#685c5c;
    --item_hr_line_color:#d9d9d9;

    --out_of_stock-color:#ff0a0a;

    --item_ptr_color:#6c757d;
    --item_mrp_color:#6c757d;
    --item_price_color:#b6b2b2;
    --item_gst_color:#c66464;

    --chemist_user_name_color:#27ae60;
    --chemist_altercode_color:#795548;
    
    --item_description1_color:#ebebeb;	
    --item_description2_color:#ebebeb;
    --item_similar_items_color:#965400;
    

    --item_order_quantity:#ffffff;
    --item_order_quantity_bg:#ffffff;

    /**************/
    --main-theme-a-text-color:#757575;
    --main-theme-hr-line-color:#27ae60;
    --main-theme-bg-color:#000;    
    --main-theme-color:#757575;

    --main-theme-box-shadow-color:#27ae60;

    --main-theme-top-menu-bar-bg:#383d41;
    --main-theme-top-menu-bar-bg1:#383d41;

    --main-theme-border-color:#17a2b8;
    --main-theme-border-color-hover:#6A6767;

    --main-theme-textbox-bg-color:#6c757d;
    --main-theme-textbox-text-color:#ced4da;

    --main-theme-textbox2-bg-color:#191616;
    --main-theme-textbox2-text-color:#ebebeb;    

    --main-theme-button-bg-color:#757575; /* #27ae60; */
    --main-theme-button-bg-color-hover:#rgba(0,0,0,.5); /* #27ae60; */
    --main-theme-button-text-color:#ffffff;

	--main-theme-button-disable-bg-color:#b2b0b0;
	--main-theme-button-disable-bg-color-hover:#928d8d;
    --main-theme-button-disable-text-color:#ffffff;
    --main-theme-button-disable-text-color-hover:#000000;

    --main-theme-box-bg-color:#6c757d;
    --main-theme-box-bg-color-hover:#6a6767;

    --main-theme-top-icon-menu-color:#ced4da;
    --main-theme-top_icon-menu-li-bg-color:#6a6767;
    --main-theme-top_icon-menu-li-bg-color-hover:#6a6767;

    --main-theme-search-icon-color:#ced4da;

    --main-theme-scrollbar-color:#757575;

    --main-theme-left-menu-bg-color:#383d41;
    --main-theme-left-menu-bg-color1:#383d41;
} 