/*html::-webkit-scrollbar{
    width:10px;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main-theme-scrollbar-color);
}*/
pre{
	color:var(--main-theme-text-color) !important;
}
a{
	color:var(--main-theme-a-text-color);
}
a:hover{
	text-decoration: none;
}
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0; padding: 0; list-style-type: none;}
p {margin: 0;padding: 0;}
*{
    font-family: 'Noto Serif Ottoman Siyaq', serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /*text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;*/
}
body{
	margin:0;
	background-size:cover;
	padding:0;
	background-color:var(--main-theme-bg-color) !important;
	color:var(--main-theme-text-color) !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
table{
	color:var(--main-theme-text-color) !important;
}

.mobile_show{
	display:none;
}
.label_css{
	color:var(--main-theme-text-color) !important;
	font-size: 16px;
	font-weight:bold;
}
.login_pg_icon{
	position: absolute;
    left: 15px;
    top: 12px;
    font-size: 18px;
	color: var(--main-theme-icon-color);
}
/******important css delete mar karna kabhi be*******/
.background_blur{
	background:var(--main-theme-blur-bg-color);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 13;
    top: 0px;
}
.swal-modal,
.modal-content {
	background-color: var(--main-theme-bg-color) !important;
	border: 1px solid var(--main-theme-border-color) !important;
	color:var(--main-theme-text-color) !important;
}
.swal-title,
.swal-text,
.modal-title,
.modal-body{
	color:var(--main-theme-text-color) !important;
}
.swal-icon--success:after, .swal-icon--success:before{
	background: none !important;
}
.swal-icon--success__hide-corners{
	background: none !important;
}
/****************************************************/
.main_page_loading{
	display: none;
	padding: 30px;
    position: fixed;
    top: 300px;
    z-index: 100;
    margin-left: 45%;
    box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
    border-radius: 10px;
	background-image: linear-gradient(var(--main-theme-top-menu-bar-bg-color), var(--main-theme-top-menu-bar-bg1-color));
}
.main_page_loading1{
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	padding: 30px;
    box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
    border-radius: 10px;
	background-image: linear-gradient(var(--main-theme-top-menu-bar-bg-color), var(--main-theme-top-menu-bar-bg1-color));
}
/****************************************************/
.main_page_cart_emtpy,
.main_page_something_went_wrong,
.main_page_no_record_found{
	display: none;
	padding-top: 200px;
}
/****************************************************/

.input_type_text{
	background-color: var(--main-theme-textbox-bg-color) !important;
	border: 1px solid var(--main-theme-border-color) !important;
	border-radius:10px;
	color: var(--main-theme-textbox-text-color) !important;
	width:100%;
	font-size: 18px;
    font-weight: bold;
	border-width: 0px;
	padding: 6px;
	padding-left:35px;
}

.input_type_text:-webkit-autofill,
.input_type_text:-webkit-autofill:hover, 
.input_type_text:-webkit-autofill:focus,
.input_type_text:-webkit-autofill:active {
	color: var(--main-theme-textbox-text-color) !important;
}

.input_type_text:hover, 
.input_type_text:focus,
.input_type_text:active {
	color: var(--main-theme-textbox-text-color) !important;
}
.input_type_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--main-theme-textbox-text-color) !important;
	opacity: 1; /* Firefox */
}  
.input_type_text::-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--main-theme-textbox-text-color) !important;
}  
.input_type_text::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--main-theme-textbox-text-color) !important;
}

.input_type_text2{
	background-color: var(--main-theme-textbox2-bg-color);
	border-color: var(--main_theme_textbox2_border_color);
	border-radius:10px;
	color: var(--main-theme-textbox2-text-color);
	width:100%;

	font-size: 18px;
    font-weight: bold;
	border-width: 0px;
	padding: 7px;
	border: 1px solid var(--main-theme-border-color);
}

.input_type_text2:-webkit-autofill,
.input_type_text2:-webkit-autofill:hover, 
.input_type_text2:-webkit-autofill:focus,
.input_type_text2:-webkit-autofill:active {
	background-color: var(--main-theme-textbox2-bg-color);
	border-color: var(--main_theme_textbox2_border_color);
	color: var(--main-theme-textbox2-text-color);
	border-width: 0px;
}

/****************************************************/

.main_theme_button{
	background-color: var(--main-theme-button-bg-color);
	border-color: var(--main-theme-button-bg-color);
	color: var(--main-theme-button-text-color);
    border-radius: 10px;
	width:100%;
	padding: 7px;
}
.main_theme_button:hover,.main_theme_button:focus,.main_theme_button:active{
	background-color: var(--main-theme-button-bg-color);
	border-color: var(--main-theme-button-bg-color);
	color: var(--main-theme-button-text-color);
}

.main_theme_button_disable{
	background-color: var(--main-theme-button-disable-bg-color);
	border-color: var(--main-theme-button-disable-bg-color);
	color: var(--main-theme-button-disable-text-color);
	border-radius: 10px;
	width:100%;
	padding: 7px;
}
.main_theme_button_disable:hover,.main_theme_button_disable:focus,.main_theme_button_disable:active{
	background-color: var(--main-theme-button-disable-bg-color-hover);
	border-color: var(--main-theme-button-disable-bg-color-hover);
	color: var(--main-theme-button-disable-text-color-hover);
}
/*******************************/
.main_container {
	padding-top:115px;
	padding-bottom: 50px;
	min-height: 500px;
}

.main_box_div {
    padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
    background-color: var(--main-theme-box-bg-color);
	border-radius: 10px;
    overflow-y: scroll;	
	/*border: solid 1px var(--mainthemecolor);*/
    box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
}
.main_box_div2 {
    overflow-y: scroll;	
}
.main_box_div_data {
	margin-bottom:5px;
	font-size: 13px;
	color:var(--main-theme-text-color);
	float: left;
	width:100%;
	border-radius: 5px;
	border: 1px solid var(--main-theme-border-color);
	background-color: var(--main-theme-box-bg-color);
}
.main_box_div_data:focus{
	cursor: none;
	outline: none;
	background:var(--main-theme-box-bg-color-hover);
}
.main_box_div_data:hover{
	cursor: pointer;
	background:var(--main-theme-box-bg-color-hover);
}
/*************************************************************/
.top_bar {
    margin-top: 5px;
    margin-left: 0.5%;
    width: 99%;
    padding-top: 5px;
	padding-bottom: 5px;
    position: fixed;
    z-index: 14;
    background-image: linear-gradient(var(--main-theme-top-menu-bar-bg-color), var(--main-theme-top-menu-bar-bg1-color));
    /*border: solid 1px var(--mainthemecolor);*/
    box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 125px;
    border-top-left-radius: 125px;
	transition-duration: 3s;
}
.top_bar_logo{
	display: none;
}
.top_bar_back_btn{
	margin-top:7px;
	width: 25px;
}
.top_bar_back_btn i {
	color: var(--main-theme-top-icon-menu-color);
	font-size: 30px;
	margin-top: 5px;
}
.top_bar_logo img{
	width:40px;
}
.top_bar_title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	color: var(--main-theme-top-icon-menu-color);
	margin-top: 7px;
    font-size: 25px;
}

.top_bar_title1 {
    position: absolute;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -7px;
	display: none;
	color: var(--main-theme-top-icon-menu-color);
}

.top_bar_title2 {
    font-size: 13px;
	color: var(--main-theme-top-icon-menu-color);
}

.top_bar_menu {
	text-align: right;
    float: right;
}
.top_bar_menu li {
    /* width: 25px; */
    float: left;
    margin-right: 7px;
    /*background: var(--main-theme-top-icon-menu-li-bg-color);*/
    padding: 10px;
	border-radius:5px;
}
.top_bar_menu li:hover {
    background: var(--main-theme-top-icon-menu-li-bg-color-hover);
}
.top_bar_menu li a{
	font-size: 15px;
    top: -10px;
    color: var(--main-theme-top-icon-menu-color);
    display: flex;
    margin-top: 0px;
}
.top_bar_menu li a i{
    font-size: 30px;
	color: var(--main-theme-top-icon-menu-color);
	margin-top: -4px;
    margin-right: 5px;
}

.top_bar_search_div{
	margin-top: 5px;
	background-color: var(--main-theme-textbox-bg-color) !important;
    width: 100%;
    float: left;
    border-radius: 10px;
    padding: 6px;
	color: var(--main-theme-textbox-text-color) !important;
	/*box-shadow: 0px 0px 5px 0px;*/
	border: 1px solid var(--main-theme-border-color) !important;
}
.top_bar_search_div:hover{
	color:#6A6767;
}
.top_bar_search_div_search_text{
    font-size: 18px;
    font-weight: bold;
	margin-left: 28px;
}
.modal_cancel_btn,
.left_menu_bar_cancel_icon{
    color: var(--main-theme-icon-color) !important;
    font-size: 25px;
}
.top_bar_search_div_search_icon{
	position: absolute;
    color: var(--main-theme-icon-color) !important;
    font-size: 25px;
}
.top_bar_search_textbox_div{
	margin-top: 5px;
	width:100%;
	display:none;
}
.top_bar_search_textbox_div_search_icon{
	position: absolute;
    margin-top: 7px;
    margin-left: 7px;
	color:var(--main-theme-icon-color) !important;
	font-size:25px;
}
.top_bar_search_textbox_div_menu_icon{
	display:none;
	position: absolute;
    right: 50px;
    top: 10px;
    color: var(--main-theme-icon-color) !important;
    font-size: 23px;
}
.top_bar_search_textbox_div_clear_icon{
	display:none;
	position: absolute;
    right: 20px;
    top: 7px;
    color: var(--main-theme-icon-color) !important;
    font-size: 25px;
}
.top_bar_menu_delete_all_btn{
	display:none;
}
.top_bar_menu2::-webkit-scrollbar{
    width:5px;
	height: 5px; 
}

.top_bar_menu2::-webkit-scrollbar-track{
    background:transparent;
}

.top_bar_menu2::-webkit-scrollbar-thumb{
    background:var(--main-theme-scrollbar-color);
}

.top_bar_menu2{
	display: none;
	margin-top: 5px;
    padding-top: 5px;
    /*border-top: 1px solid var(--main-theme-border-color);*/
    overflow-x: none;
}
.top_bar_menu2_ul{
	width: max-content;
    margin: auto;
}
.top_bar_menu2_ul li {
    float: left;
    margin-right: 7px;
    padding: 5px;
	border-radius:5px;
    /*background: var(--main-theme-top-icon-menu-li-bg-color);*/
}
.top_bar_menu2_ul li:hover {
    background: var(--main-theme-top-icon-menu-li-bg-color-hover);
}
.top_bar_menu2_ul li a {
    font-size: 15px;
    color: var(--main-theme-top-icon-menu-color);
}

.left_menu_bar{
	border-right: 1px solid var(--main-theme-border-color) !important;
	display:none;
	position: fixed;
	background-image: linear-gradient(var(--main-theme-left-menu-bg-color), var(--main-theme-left-menu-bg-color1));
	width: 30%;
	z-index: 20;
	top: 0px;
	height: -webkit-fill-available;
}
.left_menu_bar_cancel_icon{
	font-size: 30px;
}
.left_menu_bar_account_image{
	width: 100%;
}
.left_menu_bar_accoun_chemist_name{
	word-wrap: break-word;
	font-size: 18px;
	font-weight: bold;
	color: var(--chemist-name-color);
}
.left_menu_bar_accoun_chemist_code{
	font-size: 16px;
	color: var(--chemist-altercode-color);
}
.left_menu_bar_div1{
    padding: 10px;
}

.left_menu_bar_div2{
	margin: 0px 0;
    overflow-y: scroll;
    /* height: inherit; */
    color:var(--main-theme-top-icon-menu-color);
    /* height: 485px; */
}
.left_menu_bar_div2 h2{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--main-theme-border-color);
	font-size: 20px;
}
.left_menu_bar_div2 ul li {
    list-style: none;
	text-align: left; 
	font-size: 1em;
	padding:10px;
	background: var(--main-theme-top-icon-menu-li-bg-color);
}
.left_menu_bar_div2 ul li:hover {
	background: var(--main-theme-top-icon-menu-li-bg-color-hover);
}
.left_menu_bar_div2 ul li a{
	color: var(--main-theme-top-icon-menu-color);
}
.left_menu_bar_div2 ul li a i{
	margin-right: 20px;
}
/******slider css******************************************/
#jssor_1,#jssor_2{
	position:relative;
	margin:0 auto;
	left:-15px;
	width:1000px;
	height:220px;
	overflow:hidden;
	visibility:hidden;
}
.top_flash_div{
	cursor:default;
	position:relative;
	top:0px;
	left:0px; 
	width:1000px;
	height:220px;
	overflow:hidden;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*jssor slider arrow skin 051 css*/
.jssora_arrowleft {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 35px;
    z-index: 1;
    width: 25px;
    height: 25px;
    transform: translatey(-50%);
}
.jssora_arrowleft span {
    font-size: 20px;
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 100px;
    color: var(--main-theme-button-text-color);
    background-color: var(--main-theme-button-bg-color);
    padding-left: 8px;
}
.jssora_arrowright {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 35px;
    z-index: 1;
    width: 25px;
    height: 25px;
    transform: translatey(-50%);
}
.jssora_arrowright span {
    font-size: 20px;
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 100px;
    color: var(--main-theme-button-text-color);
    background-color: var(--main-theme-button-bg-color);
    padding-left: 10px;
}
.img_css_for_slider {
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	width: 98% !important;
}
/* Make the image fully responsive */
.carousel-inner img {
	height: 70vh !important;
	width: 100%;
	object-fit: cover;
	object-fit:unset;
}
/*****************home page css**************************/
.home_page_menu_div{	
	padding:10px;
    float: left;
	width: 13.5%;
    margin-right: 0.7%;
	border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}
.home_page_menu_div:hover{
	/*border: 1px solid var(--main-theme-border-color-hover);*/
	box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
}
.home_page_menu_div_btn{
	font-size: 20px;
    color: var(--main-theme-home-menu-color);
	font-weight: bold;
}
.home_page_menu_div_btn:hover{	
    color: var(--main-theme-home-menu-color_hover);
	font-weight: bold;
}

.owl-carousel {
	margin: 0px;
	padding: 0px;
}
.owl-carousel.owl-loaded {
    margin-bottom: -30px !important;
}
.owl-carousel .item {
	line-height: 2;
	font-weight: 700;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: var(--main-theme-button-bg-color);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

.owl-nav button span {
    font-size: 30px;
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 100px;
    color: var(--main-theme-button-text-color);
    background-color: var(--main-theme-button-bg-color);
}

.owl-carousel .owl-nav button.owl-prev {
	left: 0;
}
.owl-carousel .owl-nav button.owl-next {
	right: 0;
}
.owl-carousel .owl-nav {
	margin: 0;
}
.home_page_heading
{
	margin-top: 60px;
	margin-bottom: 60px;
}
.home_page_heading_title{
    text-align: center;
    margin-bottom: 0rem;
    position: relative;
}
.home_page_heading_title::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: var(--main-theme-hr-line-color);
	box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
    z-index: -1;
}
.home_page_heading_title span{
    font-size: 30px;
	font-weight: bold;
    padding: 40px;
    color: var(--main-theme-top-menu-bar-text-color) !important;
    background-image: linear-gradient(var(--main-theme-top-menu-bar-bg-color), var(--main-theme-top-menu-bar-bg1-color));
    /*border: solid 1px var(--mainthemecolor);*/
    box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
	border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
	transition-duration: 3s;
}
.home_page_heading_title span:hover{
	border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
}
.home_page_heading_title span a{
	color: var(--main-theme-top-menu-bar-text-color) !important;
}

.home_page_heading_title2{
	color: var(--main-theme-top-menu-bar-text-color);
    font-size: 20px;
    font-weight: bold;
	margin-top: 15px;
}
.home_page_heading_title2 a{
	color: var(--main-theme-top-menu-bar-text-color);
}
.home_page_heading_title3{
	color: var(--main-theme-top-menu-bar-text-color);
    font-size: 20px;
    font-weight: bold;
	margin-top: 5px;
}
.home_page_heading_title3 a{
	color: var(--main-theme-top-menu-bar-text-color);
}


.home_page_box_left_div{
	width:7%;
	float:left;
	padding:5px;
}
.home_page_box_right_div{
	width:93%;
	float:left;	
	padding:5px;
}


.all_divisioncategory{
	border-radius: 10px;
	padding:5px;
	margin: 5px;
	background-color: var(--main-theme-box-bg-color);
	border: 1px solid var(--main-theme-border-color);
    /*box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);*/
}
.all_divisioncategory:hover {
    background: var(--main-theme-box-bg-color-hover);
}
.all_itemcategory{
	height: 350px;
	border-radius: 10px;
	padding:5px;
	margin: 5px;
	background-color: var(--main-theme-box-bg-color);
	border: 1px solid var(--main-theme-border-color);
    /*box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);*/
	overflow: hidden;
}
.all_itemcategory:hover {
    background: var(--main-theme-box-bg-color-hover);
}
.medicine_category_page{
	height: 425px;
	border-radius: 10px;
	padding:5px;
	margin-left: 5px;
    margin-bottom: 5px;
	background-color: var(--main-theme-box-bg-color);
	border: 1px solid var(--main-theme-border-color);
    /*box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);*/
}
.medicine_category_page:hover {
    background: var(--main-theme-box-bg-color-hover);
}

.medicine_category_page .all_item_featured_img{
    position: absolute;
	left: 10px;
    width: 60px !important;
    border-top-left-radius: 10px;
}
.medicine_category_page .all_item_out_of_stock_img{
	position: absolute;
	left: 10px;
    width: 60px !important;
    border-top-left-radius: 10px;
}

.import_order_item_featured_img,
.import_order_item_out_of_stock_img{
	position: absolute;
	left: 20px;
    width: 45px !important;
    border-top-left-radius: 10px;
}

.home_page_item_company{
	color:var(--home_company_color);
    font-size: 18px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.home_page_item_company:hover{
	color:var(--home_company_color_hover);
}
.all_item_hr{
    border-top: 1px solid var(--main-theme-hr-line-color);
    padding-top: 2px;
    margin-top: 2px;
}
.all_item_image{
    width: 100%;
    border-radius: 10px;
	margin-bottom: 5px;
}
.all_item_image_load{
    width: 100%;
    border-radius: 10px;
	margin-bottom: 5px;
	display: none;
}
.all_item_featured_img,
.all_item_out_of_stock_img {
	position: absolute;
    width: 60px  !important;
    border-top-left-radius: 10px;
}
.all_item_name{
	color:var(--item_name_color);
	font-size:15px;
	font-weight:bold;
	line-height: 18px;
}
.all_item_packing{
	color:var(--item_packing_color);
	font-size:12px;
	line-height: 18px;
}
.all_item_batch_no{
	font-size: 13px;
    color:var(--item_batch_no_color);
}
.all_item_margin{
	color:var(--item_margin_color);
	font-size:13px;
	line-height: 18px;
}
.all_item_expiry{
	color:var(--item_expiry_color);
	font-size:13px;
	line-height: 18px;
}
.all_item_company{
	color:var(--item_company_color);
    font-size: 15px;
    font-weight: 500;
	line-height: 18px;
}
.all_item_stock{
	color:var(--item_stock_color);
	font-size:15px;
	line-height: 18px;
	font-weight: bold;
}
.all_item_out_of_stock{
	color:var(--out_of_stock-color);
	font-size:15px;
	font-weight: bold;
	line-height: 18px;
}

.all_item_order_quantity{
	color:var(--item_order_quantity);
	font-size: 15px;
	line-height: 18px;
}

.all_item_scheme{
    color:var(--item_scheme_color);
	font-size: 13px;
	line-height: 18px;
}
.all_item_mrp{
	color:var(--item_mrp_color);
	font-size: 13px;
	line-height: 18px;
}
.all_item_ptr{
	color:var(--item_ptr_color);
	font-size: 13px;
	line-height: 20px;
}
.all_item_price{
	color:var(--item_price_color);
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
}
.all_item_total{
	color:var(--item_total_color);
    font-size: 14px;
	line-height: 18px;
}
.all_item_date_time{
	color:var(--item_date_time_color);
	font-size: 13px;
	line-height: 18px;
}
.all_item_model_number{
	color:var(--item_model_number);
	font-size: 13px;
	line-height: 18px;
}

.all_item_title{
	color:var(--item_title_color);
	font-size:15px;
	font-weight:bold;
	line-height: 18px;
}
.all_item_message{
	color:var(--item_message_color);
    font-size: 14px;
	line-height: 18px;
}

.all_item_download{
	color:var(--item_download_color);
	font-size:15px;
	font-weight:bold;
	line-height: 18px;
}
.all_item_delete_btn{
	margin-top: 7px;
    margin-bottom: 2px;
	font-size:18px;
	color:var(--main-theme-icon-color) !important;
}
.all_item_edit_btn{
	margin-top: 7px;
    margin-bottom: 2px;
	font-size:18px;
	color:var(--main-theme-icon-color) !important;
}

.all_item_edit_btn{
	margin-top: 7px;
    margin-bottom: 2px;
	font-size:18px;
	color:var(--main-theme-icon-color) !important;
}
.all_item_description1{
	color:var(--item_description1_color);
    font-size: 13px;
}
.all_chemist_name{
	font-size:15px;
	font-weight:bold;
	line-height: 18px;
	color: var(--chemist-name-color);
}
.all_chemist_altercode{
	font-size:13px;
	font-weight:bold;
	line-height: 15px;
	color: var(--chemist-altercode-color);
}
.all_chemist_edit_btn{
	color: var(--main-theme-icon-color) !important;
    font-size: 15px;
}

.import_order_delete_btn{
	margin-top: 7px;
    margin-bottom: 2px;
	font-size:15px;
	color:#c45353;
}
.import_order_edit_btn{
	margin-top: 7px;
    margin-bottom: 2px;
	font-size:15px;
	color:#c45353;
}
.import_order_item_order_quantity_textbox{
    padding: 5px;
    border: 0px;
    border-radius: 10px;
	border: 1px solid var(--main-theme-border-color);
}

.favourite_medicines_box_left_div{
	width:6%;
	float:left;
	padding:5px;
}
.favourite_medicines_box_right_div{
	width:94%;
	float:left;	
	padding:5px;
}

.my_cart_box_left_div{
	width:13%;
	float:left;
	padding:5px;
}
.my_cart_box_right_div{
	width:87%;
	float:left;	
	padding:5px;
}
.import_order_box_left_div{
	width:7%;
	float:left;
	padding:5px;
}
.import_order_box_right_div{
	width: 92%;
    float: left;
    padding: 5px;
    margin-left: 1%;
}

.medicine_search_box_left_div{
	width:13%;
	float:left;
	padding:5px;
}
.medicine_search_box_right_div{
	width:87%;
	float:left;	
	padding:5px;
}

.chemist_search_box_left_div{
	width:6%;
	float:left;
	padding:5px;
}
.chemist_search_box_right_div{
	width:94%;
	float:left;	
	padding:5px;
}

.all_page_box_left_div{
	width:7%;
	float:left;
	padding:5px;
}
.all_page_box_right_div{
	width:93%;
	float:left;	
	padding:5px;
}

.all_page_details_page_box_left_div{
	width:10%;
	float:left;
	padding:5px;
}
.all_page_details_page_box_right_div{
	width:90%;
	float:left;	
	padding:5px;
}

/***************************medicine details*****************/
.medicine_details_data{
	background:white;
	border-radius:10px;
}
.medicine_details_item_date_time{
	color:var(--item_date_time_color);
	font-size: 16px;
    margin-top: -40px;
}
.medicine_details_hr{	
	border-top: 1px solid var(--main-theme-hr-line-color);
	padding-top: 5px;
	margin-top: 5px;
}
.medicine_details_image{
	/*background-image: url(http://drdweb.co.in/uploads/default_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;
	border-radius: 10px;
	border: 1px solid var(--main-theme-border-color);
}
.medicine_details_image_small{
    width: 100%;
	border-radius: 10px;
	border: 1px solid var(--main-theme-button-bg-color);
}
.medicine_details_featured_img{
	z-index: 10;
    position: absolute;
    border-top-left-radius: 10px;
    width: 100px;
    margin-top: 10px;
}
.medicine_details_out_of_stock_img{
	z-index: 10;
    position: absolute;
    border-top-left-radius: 10px;
    width: 100px;
    margin-top: 10px;
}
.medicine_details_item_name{
	color:var(--item_name_color);
	font-size:25px;
	font-weight:bold;
}
.medicine_details_item_packing{
	color:var(--item_packing_color);
	font-size:16px;
}
.medicine_details_item_batch_no{
	font-size: 16px;
    color:var(--item_batch_no_color);
}
.medicine_details_item_margin{
	font-size: 16px;
    color:var(--item_margin_color);
}
.medicine_details_item_expiry{
	font-size: 16px;
    color:var(--item_expiry_color);
}

.medicine_details_item_company{
	color:var(--item_company_color);
    font-size: 20px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.medicine_details_item_company:hover{
	color:var(--home_company_color_hover);
}

.medicine_details_item_stock{
	color:var(--item_stock_color);
	font-size:25px;
	font-weight: bold;
}
.medicine_details_item_scheme{
	margin-top: 3px;
	font-size: 16px;
    color:var(--item_scheme_color);
    font-weight: bold;
}
.medicine_details_item_scheme_line{
	font-size: 15px;
    color:var(--item_scheme_line_color);
}

.medicine_details_item_ptr{
	color:var(--item_ptr_color);
    font-size: 16px;
}
.medicine_details_item_mrp{
	color:var(--item_mrp_color);
    font-size: 16px;
}
.medicine_details_item_price{
	color:var(--item_price_color);
    font-size: 18px;
    font-weight: bold;
}
.medicine_details_item_total
{
	color:var(--item_total_color);
    font-size: 18px;
    font-weight: bold;
}
.medicine_details_item_gst{
	color:var(--item_gst_color);
    font-size: 16px;
}
.medicine_details_item_order_quantity{
	color:var(--item_order_quantity);
    font-size: 18px;
	font-weight: bold;
}
.medicine_details_item_order_quantity_textbox{
    padding: 5px;
    border: 0px;
    border-radius: 10px;
	border: 1px solid var(--main-theme-border-color);
}
.medicine_details_item_order_quantity:focus{
	outline: none !important;
	outline-style:none !important;
	box-shadow:none !important;
	border-color:transparent !important;
}
.medicine_details_item_description1{
	color:var(--item_description1_color);
    font-size: 14px;
}
.medicine_details_item_description2{
	color:var(--item_description2_color);
    font-size: 14px;
}

.search_cart_delete_all_btn{
	margin-top: 5px;
	font-size: 18px;
	color:#c45353;
}
.search_cart_delete_all_btn:hover{
	color:red;
}

/****************************************/
.search_result_div {
	background-color: var(--main-theme-box-bg-color);
	margin-top: -8px;
    z-index: 15;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 96.9%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
	position: absolute;
	display: none;
	border-left: 1px solid var(--main-theme-border-color);
    border-right: 1px solid var(--main-theme-border-color);
    border-bottom: 1px solid var(--main-theme-border-color);
}

.search_cart_footer_div {
    bottom: 10px;
    position: fixed;
    width: 99%;
    margin-left: 0.5%;
    padding: 5px;
    /* border: solid 1px var(--mainthemecolor); */
    background-image: linear-gradient(var(--main-theme-top-menu-bar-bg-color), var(--main-theme-top-menu-bar-bg1-color));
    box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 125px;
    border-top-left-radius: 125px;
}

.search_cart_footer_div_total_items {
	color:var(--item_packing_color);
	font-size:15px;
	font-weight:bold;
}
.search_cart_footer_div_total_price {
	color:var(--item_price_color);
	font-size:15px;
	font-weight:bold;
}

/***********************footer********************/
.website_footer1 {
	background-color:var(--website_footer1_bg_color);
	margin-top:50px;
	padding-top:25px;
	padding-bottom:100px;
	margin-bottom:-100px;
}
.website_footer {
	background-color:var(--website_footer_bg_color);
	margin-top:50px;
	padding-top:25px;
	padding-bottom:100px;
	margin-bottom:-100px;
}
.bottom-footer-ul{
	width:100%;
}
.bottom-footer-ul li{
	width:100%;
	float: left;
    margin-right: 20px;
	font-size: 14px;
    font-weight: 700;
	color: #757575;
}
.bottom-footer-ul li i{
	margin-right: 5px;
}
.footer_li_title
{
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    color: #444546;
    padding-bottom: 20px;
}
.footer_li_text
{
	color: #ffffff;
	margin-top: 5px;
}
.footer_li_text a
{
	color: #757575;
}
.follow-footer-ul li
{
	float:left;
	margin-right:5px;
}
.footer_copy
{
    line-height: 2;
    text-align: left;
    color: #757575;
}
.fix_footer{
	z-index: 1;
	position: fixed;
	left: 0px;
    bottom: 0px;
    width: 100%;
}
.footer p{
	color:#fff;
	font-size:14px;
	line-height:1.8em;
	text-align:center;
	margin-top:50px;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	text-decoration:underline;
}

.google_play
{
	background-color: #27ae60;
    opacity: 1;
    color: #fff;
	border-radius:10px;
	padding:10px;
}
.google_play a
{
	color: #fff;
	text-decoration:none;
}
.download_app_div
{
	color:var(--green);
	font-size:25px;
}
.mobile_footer_css_left {
	width:40%;
	float: left;
	background: var(--main-theme-home-mobile-footer-bg-color)  !important;
	border-top-right-radius: 50px;
	color: var(--main-theme-home-mobile-footer-text-color)  !important;
	box-shadow: 0px 0px 1px 0px var(--main-theme-box-shadow-color);
}
.mobile_footer_css_left a{
	margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    height: 60px;
    float: left;
    width: 50%;
    color: var(--main-theme-top-icon-menu-color);
}
.mobile_footer_css_center {
	background: var(--main-theme-home-mobile-footer-bg-color) !important;
    border-radius: 50px;
    margin-left: 2%;
    margin-right: 2%;
    width: 16%;
    float: left;
    padding: 5%;
    color: var(--main-theme-home-mobile-footer-text-color) !important;
    box-shadow: 0px 0px 1px 0px var(--main-theme-box-shadow-color);
}
.mobile_footer_css_center a{
    font-size: 13px;
    color: var(--main-theme-top-icon-menu-color);
}
.mobile_footer_css_right {
	width:40%;
	float: left;
	background: var(--main-theme-home-mobile-footer-bg-color) !important;
	border-top-left-radius: 50px;
	color: var(--main-theme-home-mobile-footer-text-color)  !important;
	box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
}
.mobile_footer_css_right a{
	margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    height: 60px;
    float: left;
    width: 50%;
    color: var(--main-theme-top-icon-menu-color);
}
.home_page_mobile_footer li{
	margin-top: 10px;
    border-radius: 10px;
    padding: 7px;
    background: var(--main-theme-home-mobile-footer-bg-color);
	border: 1px solid var(--main-theme-border-color);
	box-shadow: 0px 0px 5px 0px var(--main-theme-box-shadow-color);
}
.home_page_mobile_footer li a{
	color: var(--main-theme-home-mobile-footer-text-color);
}
.footer_website_name_css,
.footer_website_version_css{
	color: var(--footer_website_name_color);
}
.web-col-padding-5{
	padding-right: 5px !important;
	padding-left: 5px !important;
}

@media screen and (max-width: 800px){
	.mobile_off{
		display:none;
	}
    .mobile_show{
		display:block;
	}
	.background_blur{
		display:none !important;
	}
	.main_box_div {
		padding: 0px;
		background: none;
		box-shadow: none;
	}
	.main_page_loading{
		margin-left: 16%;
	}
	.main_container {
		padding-top: 115px;
	}
	.top_bar {
		margin-top: 0px;
		margin-left: 0px;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom-left-radius: 50px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-left-radius: 0px;
	}
	.top_bar_back_btn i {
		color: var(--main-theme-top-icon-menu-color);
		font-size: 25px;
		margin-top: 5px;
	}
	.top_bar_title {
		font-size: 20px;
	}
	.top_bar_menu li {
		margin-top: 7px;
		margin-right: 2px;
		padding: 4px;
	}
	.top_bar_menu li a i {
		font-size: 20px;
	}
	.top_bar_search_div{
		margin-top: 0px;
		padding: 5px;
	}
	.top_bar_search_div_search_text{		
		font-size: 15px;
		margin-left: 25px;
	}
	.top_bar_search_div_search_icon {
		font-size: 20px;
	}
	.left_menu_bar{
		width: 70%;
	}
	.top_bar_menu2_ul li{
		background:none;
	}
	.input_type_text{
		font-size: 15px;
		padding-top: 7px;
		padding-bottom: 5px;
		padding-left: 30px;
	}
	.top_bar_search_textbox_div{
		margin-top: 0px;
	}
	.top_bar_search_textbox_div_search_icon,
	.top_bar_search_textbox_div_menu_icon,
	.top_bar_search_textbox_div_clear_icon {
		font-size: 20px;
	}
	.search_result_div {
		display: none !important;
	}
	.all_page_box_left_div,
	.home_page_box_left_div {
		width: 16%;
	}
	.all_page_box_right_div,
	.home_page_box_right_div {
		width: 84%;
	}
	.medicine_search_box_left_div,
	.my_cart_box_left_div{
		width: 23%;
	}
	.medicine_search_box_right_div,
	.my_cart_box_right_div{
		width: 77%;
	}
	.search_cart_footer_div{
		width: 98%;
    	margin-left: 1%;
		border-radius: 10px;
	}
	.home_page_menu_div{
		width: 32%;
		margin-right: 1.3%;
		margin-bottom: 2%;
	}
	.home_page_menu_div_btn{
		font-size: 15px;
	}
	.home_page_heading {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.home_page_heading_title2{
		margin-top: 5px;
	}
	.home_page_heading_title::before {
		display: none;
	}
	.home_page_heading_title {
		text-align: left;
	}
	.home_page_heading_title span {
		font-size: 18px;
		padding: 0px;
		border: none;
		box-shadow: none;
		background: none;
	}
	.home_page_heading_title2{
		font-size: 18px;
	}
	.all_itemcategory{
		height: 300px;
	}
	.medicine_category_page {
		height: 355px;
	}
	.home_page_item_company{
		font-size: 15px;
	}
	.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
		width: 15px;
	}

	/**************/
	.all_item_title,
	.all_item_stock{
		font-size: 14px;
	}
	.all_item_company{
		font-size: 13px;
	}
	.all_item_price,
	.all_item_total,
	.all_item_download {
		font-size: 12px;
		line-height: 16px;
	}
	.all_item_packing,
	.all_item_margin,
	.all_item_expiry,
	.all_item_ptr,
	.all_item_mrp,
	.all_item_message,
	.all_item_description1 {
		font-size: 11px;
		line-height: 15px;
	}
	.all_item_featured_img,
	.all_item_out_of_stock_img{
		width: 45px  !important;
	}
	.home_page_mobile_footer li,
	.all_divisioncategory,
	.all_itemcategory,
	.medicine_category_page{
		/*border: none;*/
		box-shadow: 0px 0px 1px 0px var(--main-theme-box-shadow-color);
	}
	/**********************/
	.medicine_details_image_small {
		margin-top: 7px;
		height: 60px;
	}
	.medicine_details_item_name{
		font-size: 20px;
	}
	.medicine_details_item_packing,
	.medicine_details_item_batch_no,
	.medicine_details_item_margin,
	.medicine_details_item_expiry,
	.medicine_details_item_scheme,
	.medicine_details_item_gst{
		font-size: 14px;
	}
	.medicine_details_item_company,
	.medicine_details_item_ptr,
	.medicine_details_item_mrp,
	.medicine_details_item_price,
	.medicine_details_item_total{
		font-size: 15px;
	}
	.medicine_details_item_stock{
		font-size: 16px;
	}
	.medicine_details_item_date_time,
	.medicine_details_item_scheme_line,
	.medicine_details_item_description1,
	.medicine_details_item_description2,
	.medicine_details_item_order_quantity{
		font-size: 13px;
	}
	.col-padding-5{
		padding-right: 5px !important;
    	padding-left: 5px !important;
	}
}
/* Custom styles for screens wider than 1300px */
@media (min-width: 1645px) {
	.d-xxl-block {
		display: block !important;
	}
}
