:root{
    --mainthemebgcolor:#f2f2f2;    
    --mainthemetextcolor:#000000;
    --mainthemecolor:#27ae60;
    --mainborder-color:#27ae60;

    --mainthemebtncolor:#fbfbfb;
    --mainthemebtnbgcolor:#27ae60;
    
    --main_theme_top_menu_bar_bg:#ffffff;
    --main_theme_top_menu_bar_bg1:#ffffff;
    
    --top_icon_menu_li_bg:#e9ecef;
    --top_icon_menu_li_bg_hover:#ebebeb;
    --top_icon_menu_color:#757575;
    
    --main_theme_hearder_color:#757575;
    --main_theme_hearder_color_hover:#757575;
    
    --main_theme_footer_bg:#f6f6f6;
    --main_theme_footer_bg1:#ffffff;
    --main_theme_footer_color:#757575;
    
    --main_theme_home_menu_color:#27ae60;
    --main_theme_home_menu_color_hover:#27ae60;

    --heading_home_hr_line:#27ae60;
    --main_theme_box_shadow:#27ae60;
    
    --main_theme_border_color:#27ae60;
    --main_theme_border_hover_color:#757575;

    --main_theme_white_background_color:#ffffff;
    --main_theme_left_menu_bg_color:#f6f6f6;
    --main_theme_left_menu_bg_color1:#ffffff;

    --main_theme_textbox_background_color:#ffffff;
    --main_theme_textbox_text_color:#6A6767;
    
    --main_theme_scrollbar_color:#757575;
    

    --main_theme_li_color:rgb(240, 240, 240);
    --main_theme_li_bg_color:#969a9829;
    --main_theme_li_bg_hover_color:#d2d3d4;

    --main_theme_li2_color:rgb(240, 240, 240);
    --main_theme_li2_bg_color:#ffffff;
    --main_theme_li2_bg_hover_color:#27ae6029;

    --main_theme_textbox_bg_color:#ffffff;
    --main_theme_textbox_color:#6A6767;

    --main_theme_textbox2_bg_color:#ffffff;
    --main_theme_textbox2_color:#6A6767;

    --main_theme_text_white_color:#ffffff;
    --main_theme_text_black_color:#757575;

    
    --main_theme_modal_bg_color:#ffffff;

    --mainbutton-color:#27a3ae; /* #27ae60; */
    --mainbuttonhover-color:#225f64; /* #1b6339; */
    
    /************/
    --home_company_color:#30363C;
    --home_company_color_hover:#757575;
    
    --main_theme_left_right_btn:#ffffff;
    --main_theme_left_right_btn_bg:#000000;
    
    --main_theme_search_icon_color:#6a6767;

    --home_page_mobile_footer_color:#757575;
    --footer_website_name_color:#757575;

    /***************************************/
    
    --item_name_color:#27ae60;
    --item_title_color:#27ae60;
    
    --item_packing_color:#ff9800;
    --item_batch_no_color:#795548;
    --item_margin_color:#1084a1;
    --item_company_color:#3f51b5;
    --item_expiry_color:#981e1e;
    --item_stock_color:#1084a1;
    --item_scheme_color:#c66464;
    --item_scheme_line_color:#685c5c;
    --item_ptr_color:#918463;
    --item_mrp_color:#795548;
    --item_price_color:#000;
    --item_total_color:#795548;
    --item_gst_color:#965400;
    --item_message_color:#685c5c;	
    --item_description1_color:#685c5c;	
    --item_description2_color:#685c5c;
    --item_similar_items_color:#965400;    

    --item_order_quantity:#1084a1;
    --item_date_time_color:#795548;
    --out_of_stock-color:#ff0a0a;    
    --item_download_color:#ff9800;

    --chemist_user_name_color:#27ae60;
    --chemist_altercode_color:#795548;    

    --item_order_quantity_bg:#e8e8e8;
    
}