:root{    
    
    --main_theme_hearder_color:#757575;
    --main_theme_hearder_color_hover:#757575;
    
    --main_theme_footer_bg:#f6f6f6;
    --main_theme_footer_bg1:#ffffff;
    --main_theme_footer_color:#757575;

    /************/
    --home_company_color:#30363C;
    --home_company_color_hover:#757575;
    
    --main_theme_left_right_btn:#ffffff;
    --main_theme_left_right_btn_bg:#000000;
    

    --home_page_mobile_footer_color:#757575;
    --footer_website_name_color:#757575;

    /***************************************/
    
    --item_name_color:#27ae60;
    --item_title_color:#27ae60;
    
    --item_packing_color:#ff9800;
    --item_batch_no_color:#795548;
    --item_margin_color:#1084a1;
    --item_company_color:#3f51b5;
    --item_expiry_color:#981e1e;
    --item_stock_color:#1084a1;
    --item_scheme_color:#c66464;
    --item_scheme_line_color:#685c5c;
    --item_ptr_color:#918463;
    --item_mrp_color:#795548;
    --item_price_color:#000;
    --item_total_color:#795548;
    --item_gst_color:#965400;
    --item_message_color:#685c5c;	
    --item_description1_color:#685c5c;	
    --item_description2_color:#685c5c;
    --item_similar_items_color:#965400;    

    --item_order_quantity:#1084a1;
    --item_date_time_color:#795548;
    --out_of_stock-color:#ff0a0a;    
    --item_download_color:#ff9800;

    --chemist_user_name_color:#27ae60;
    --chemist_altercode_color:#795548;    

    --item_order_quantity_bg:#e8e8e8;
    
    --item_model_number:#757575;


    /**************/
    --main-theme-blur-bg-color: #3e2e2e94;
    --main-theme-a-text-color:#27ae60;
    --main-theme-hr-line-color:#27ae60;
    --main-theme-bg-color:#f2f2f2;    
    --main-theme-text-color:#757575;

    --main-theme-home-menu-color:#27ae60;
    --main-theme-home-menu-color_hover:#27ae60;
    --main-theme-box-shadow-color:#27ae60;

    --main-theme-top-menu-bar-bg-color:#ffffff;
    --main-theme-top-menu-bar-bg1-color:#ffffff;
    --main-theme-top-menu-bar-text-color:#757575;

    --main-theme-border-color:#27ae60;
    --main-theme-border-color-hover:#757575;

    --main-theme-textbox-bg-color:#ffffff;
    --main-theme-textbox-text-color:#6A6767;

    --main-theme-textbox2-bg-color:#ffffff;
    --main-theme-textbox2-text-color:#6A6767;

    --main-theme-button-bg-color:#27a3ae; /* #27ae60; */
    --main-theme-button-bg-color-hover:#225f64; /* #1b6339; */
    --main-theme-button-text-color:#ffffff;

    --main-theme-button-disable-bg-color:#b2b0b0;
	--main-theme-button-disable-bg-color-hover:#928d8d;
    --main-theme-button-disable-text-color:#ffffff;
    --main-theme-button-disable-text-color-hover:#000000;

    --main-theme-box-bg-color:#ffffff;
    --main-theme-box-bg-color-hover:#ebebeb;

    --main-theme-top-icon-menu-color:#757575;
    --main-theme-top-icon-menu-li-bg-color:#ffffff;
    --main-theme-top-icon-menu-li-bg-color-hover:#ebebeb;

    --main-theme-icon-color:#757575;    
    --main-theme-scrollbar-color:#757575;

    --main-theme-left-menu-bg-color:#ffffff;
    --main-theme-left-menu-bg-color1:#ffffff;

    /***********************************/
    --website_footer_bg_color:#f6f6f6;
    --website_footer1_bg_color:#dedede;
}