:root{
    --main_theme_hearder_color:#757575;
    --main_theme_hearder_color_hover:#757575;

    /************/
    --home_company_color:#ffffff;
    --home_company_color_hover:#17a2b8;
    
    --main_theme_left_right_btn:#ffffff;
    --main_theme_left_right_btn_bg:#000000;
    
    --footer_website_name_color:#757575;

    /***************************************/
    
    --item_name_color:#27ae60;
    --item_title_color:#27ae60;
    
    --item_packing_color:#ff9800;
    --item_batch_no_color:#795548;
    --item_margin_color:#1084a1;
    --item_company_color:#3f51b5;
    --item_expiry_color:#981e1e;
    --item_stock_color:#1084a1;
    --item_scheme_color:#c66464;
    --item_scheme_line_color:#ced4da;
    --item_ptr_color:#918463;
    --item_mrp_color:#795548;
    --item_price_color:#ffc107;
    --item_total_color:#d9e10f;
    --item_gst_color:#ced4da;
    --item_message_color:#ced4da;	
    --item_description1_color:#ced4da;	
    --item_description2_color:#ced4da;
    --item_similar_items_color:#ced4da;    

    --item_order_quantity:#1084a1;
    --item_date_time_color:#adb5bd;
    --out_of_stock-color:#ff0a0a;    
    --item_download_color:#ff9800;

    --chemist-name-color:#1084a1;
    --chemist-altercode-color:#ff9800;   

    --item_order_quantity_bg:#e8e8e8;

    --item_model_number:#ffffff;

    /**************/
    --main-theme-blur-bg-color: #000000d4;
    --main-theme-a-text-color:#17a2b8;
    --main-theme-hr-line-color:#17a2b8;
    --main-theme-bg-color:#1a1a1a;    
    --main-theme-text-color:#ffffff;

    --main-theme-home-menu-color:#17a2b8;
    --main-theme-home-menu-color_hover:#17a2b8;
    --main-theme-box-shadow-color:#17a2b8;

    --main-theme-top-menu-bar-bg-color:#383d41;
    --main-theme-top-menu-bar-bg1-color:#383d41;
    --main-theme-top-menu-bar-text-color:#ffffff;

    --main-theme-border-color:#17a2b8;
    --main-theme-border-color-hover:#6A6767;

    --main-theme-textbox-bg-color:#1a1a1a;
    --main-theme-textbox-text-color:#ced4da;

    --main-theme-textbox2-bg-color:#1a1a1a;
    --main-theme-textbox2-text-color:#ebebeb;    

    --main-theme-button-bg-color:#27a3ae; /* #27ae60; */
    --main-theme-button-bg-color-hover:#225f64; /* #1b6339; */
    --main-theme-button-text-color:#ffffff;

	--main-theme-button-disable-bg-color:#757575;
	--main-theme-button-disable-bg-color-hover:#757575;
    --main-theme-button-disable-text-color:#ffffff;
    --main-theme-button-disable-text-color-hover:#ffffff;

    --main-theme-box-bg-color:#373d40;
    --main-theme-box-bg-color-hover:#6A6767;

    --main-theme-top-icon-menu-color:#ced4da;
    --main-theme-top-icon-menu-li-bg-color:#383d41;
    --main-theme-top-icon-menu-li-bg-color-hover:#6A6767;

    --main-theme-icon-color:#ced4da;

    --main-theme-scrollbar-color:#757575;

    --main-theme-left-menu-bg-color:#383d41;
    --main-theme-left-menu-bg-color1:#383d41;

    /***********************************/
    --website_footer_bg_color:#000000;
    --website_footer1_bg_color:#282828;

    --main-theme-home-mobile-footer-bg-color:#383d41;
    --main-theme-home-mobile-footer-text-color:#757575;
} 